# Allow access to admin API files
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

# For Apache 2.2
<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule>

# Enable PHP execution
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>
